.selcard-default {
  width:  160px;
  height: 60px;
  border-radius: 8px;
  position: relative;
  border: 1px solid #D9D9D9;
  background: #FFF;
  cursor: pointer;
  flex-direction: column;
  box-sizing: border-box;
}

.active-class {
  border: 1px solid #008AFF;
  background: rgba(246, 250, 254, 0.98);
}

.check-sign {
  position: absolute;
  bottom: 0;
  right: 0;
}